Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml

remove skipped po tasks
  ui/grunt/tasks/tasks.js
Due: build ui, build update-themes, test ui

cleanup
  ui/apps/io.ox/core/pdf/exp.js
  ui/apps/io.ox/core/settings.js
Due: build ui, build update-themes, test ui

Build for patch 2025-02-04 (6306)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help-drive/debian/changelog
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

update pdfjs
  ui/package.json
Due: build ui, build update-themes, test ui

update working prototype
  ui/apps/io.ox/core/pdf/_pdfviewerlinkservice.js
  ui/apps/io.ox/core/pdf/esmloader.js
  ui/apps/io.ox/core/pdf/pdfannotationslayerbuilder.js
  ui/apps/io.ox/core/pdf/pdfdocument.js
  ui/apps/io.ox/core/pdf/pdftextlayerbuilder.js
  ui/apps/io.ox/core/viewer/views/types/documentview.js
  ui/grunt/tasks/thirdparty.js
Due: build ui, build update-themes, test ui

yarn lock was missing for the pdfjs update
  ui/yarn.lock
Due: build ui, build update-themes, test ui

ignore node warning from pdfjs
  ui/.yarnrc
Due: build ui, build update-themes, test ui

fix copy paste error
  ui/grunt/tasks/thirdparty.js
Due: build ui, build update-themes, test ui

fix copy paste error
  ui/apps/io.ox/core/pdf/pdfdocument.js
Due: build ui, build update-themes, test ui

fix mjs content type
  ui/html/.htaccess
Due: build ui, build update-themes, test ui

update
  ui/apps/io.ox/core/pdf/pdfdocument.js
Due: build ui, build update-themes, test ui

update
  ui/apps/io.ox/core/pdf/esmloader.js
Due: build ui, build update-themes, test ui

Fix: Vulnerability in HTML mails, XSS executing malicious JS through <img> tab
  ui/apps/io.ox/mail/detail/content.js
Due: build ui, build update-themes, test ui

Revert "Build for patch 2025-02-04 (6306)"
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help-drive/debian/changelog
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Try to fix errors in packaged UI
  ui/apps/io.ox/mail/detail/content.js
  ui/grunt/tasks/dist.js
Due: build ui, build update-themes, test ui

explicitly name npm dependencies for spamexperts plugin
  open-xchange-appsuite-spamexperts/package.json
Due: build spamexperts

Skip js hint for update themes
  update-themes/grunt/tasks/jshint.js
Due: build ui, build update-themes

build: update build dependencies to require Node.js v6
  open-xchange-appsuite-help/debian/control
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/control
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-spamexperts/debian/control
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite/debian/control
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/control
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-guidedtours/debian/control
  open-xchange-guidedtours/open-xchange-guidedtours.spec
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

update spamexperts dependencies
  open-xchange-appsuite-spamexperts/grunt/tasks/jshint.js
  open-xchange-appsuite-spamexperts/package.json
Due: build spamexperts

Chore: Update sub dependency resolution `debug` from `v4.3.4` to `v4.4.0`
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dev dependency `@open-xchange/appserver` from `v0.8.0-pre11` to `v0.8.0`
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dev dependency `eslint-plugin-license-header` from `v0.6.0` to `v0.6.1`
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dev dependency `chai` from `v4.4.1` to `v4.5.0`
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update sub dependency resolution `getobject` from `v1.0.2` to `v1.1.1`
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dev dependency `@open-xchange/shared-grunt-config` from `v0.15.0-pre5` to `v0.15.0-pre7`
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Switch to renovate
  .gitlab/dependabot.yml
  renovate.json
Due: none

Chore: Pin dev dependency `grunt-contrib-uglify` to last version compatible with node 10
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dev dependency `otpauth` from `v6.0.7` to `v6.0.9`
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Pin dependency `patch-package` to `~6.4.7`
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dev dependency `karma-chrome-launcher` from `v3.1.0` to `v3.2.0`
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dev dependency `husky` from `v4.3.0` to `v4.3.8`
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dev dependency `sinon` from `v17.0.1` to `v17.0.2`
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dependency `moment-timezone` from `v0.5.43` to `v0.5.46`
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dependency `underscore` from `v1.13.6` to `v1.13.7`
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui
