Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml

Security: OXUIB-2688: XSS using "data" attributes at upsell shop
  ui/apps/io.ox/wizards/upsell.js
Due: build ui, build update-themes, test ui

Chore #125: Sanitize file content in file preview portal widget
  ui/apps/plugins/portal/files/register.js
Due: build ui, build update-themes, test ui

Chore #125: Resolve potential insecure usage of `.html()` in mailfilters
  ui/apps/io.ox/mail/mailfilter/settings/filter/tests/util.js
Due: build ui, build update-themes, test ui

Security: OXUIB-2660: XSS for RSS content using `data` attributes
  ui/apps/plugins/portal/rss/register.js
  ui/spec/io.ox/portal/rss_spec.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2704: Missing contact in compose auto-complete
  ui/apps/io.ox/contacts/api.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2480: Action buttons in contact detail view
  ui/apps/io.ox/contacts/view-detail.js
  ui/apps/io.ox/switchboard/api.js
  ui/apps/io.ox/switchboard/extensions.js
  ui/apps/io.ox/switchboard/presence.js
Due: build ui, build update-themes, test ui

Bump codecept-horizontal-scaler from `v0.1.2` to `0.1.4`
  ui/e2e/package.json
  ui/e2e/yarn.lock
Due: build ui, build update-themes, test ui

Add renovate.json
  renovate.json
Due: none

Fix: OXUIB-2615: Invalid dates allowed for search
  ui/apps/io.ox/find/date/patterns.js
Due: build ui, build update-themes, test ui

adjust config
  renovate.json
Due: none

Update dependency dompurify to v2.4.7
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Bump dompurify to latest version compatible with IE (2.4.3)
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency chai to v4.4.1
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency less to v1.7.5
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
Due: build dynamic-theme

Update dependency backbone to v1.5.0
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

CI: try to fix failing git clone on gitlab runner
  gitlab-ci/packaging.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency dompurify to v2.4.7
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency jquery to v3.7.1
  help/yarn.lock
Due: build help

Update dependency dompurify to v3
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency jquery to v3.7.1
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency moment to v2.30.1
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency qrcode to v1.5.3
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency underscore to v1.13.6
  guidedtours/yarn.lock
  help/yarn.lock
  ui/yarn.lock
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours

Update dependency grunt-contrib-clean to v2.0.1
  guidedtours/yarn.lock
  help/yarn.lock
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/yarn.lock
Due: build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency clipboard to v2.0.11
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency dotenv-defaults to v3.0.2
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency grunt-contrib-clean to v2.0.1
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency lint-staged to v10.5.4
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Lock file maintenance
  guidedtours/yarn.lock
  help/yarn.lock
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/yarn.lock
  ui/e2e/yarn.lock
  ui/yarn.lock
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency husky to v4.3.8
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Pin dependency lint-staged to v13.3
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Renovate: Disable update for pinned versions
  renovate.json
Due: none

Pin dependency lint-staged to v13.2
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency moment-timezone to v0.5.44
  ui/e2e/yarn.lock
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Renovate: Update config
  renovate.json
Due: none

Pin dependency @open-xchange/codecept-horizontal-scaler to v0.1.4
  ui/e2e/package.json
Due: build ui, build update-themes, test ui

Chore: Update dependencies and sync versions of package.json and yarn.lock
  ui/e2e/package.json
  ui/e2e/yarn.lock
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui
