Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml

Update dependency qrcode to v1.5.3
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency underscore to v1.13.6
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours

Update dependency grunt-contrib-clean to v2.0.1
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency clipboard to v2.0.11
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update and pin dependency lint-staged to ~v12.0
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency sinon to v17
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency chart.js to v3.9.1
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency eslint-plugin-license-header to ^0.6.0
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt to v1.5.3
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-eslint to v24
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-contrib-concat from v1.0.1 to v2.1.0
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-compile-handlebars to v2.0.3
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
Due: build dynamic-theme

Update dependency grunt-contrib-uglify to v5
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency pdfjs-dist to v2.10.377
  ui/grunt/tasks/thirdparty.js
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Add: OXUIB-2635: Automatically select top suggestion in to/cc/bcc on enter
  ui/apps/io.ox/core/tk/tokenfield.js
  ui/apps/io.ox/mail/compose/extensions.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2718: XSS using arbitrary relative path to UI module
  ui/apps/io.ox/core/desktop.js
  ui/apps/io.ox/core/main/registry.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2756: Wrong calendar week when scheduling an appointment (U.S. language setting)
  ui/apps/io.ox/calendar/freetime/timeView.js
Due: build ui, build update-themes, test ui

Defect: Fix typo in user facing string `This action may take a some time.`
  ui/apps/io.ox/core/api/jobs.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2741: Translation issue Italiaonlinespa
  ui/i18n/cs_CZ.po
  ui/i18n/da_DK.po
  ui/i18n/de_DE.po
  ui/i18n/el_GR.po
  ui/i18n/en_GB.po
  ui/i18n/es_ES.po
  ui/i18n/es_MX.po
  ui/i18n/fi_FI.po
  ui/i18n/fr_CA.po
  ui/i18n/fr_FR.po
  ui/i18n/hu_HU.po
  ui/i18n/it_IT.po
  ui/i18n/ja_JP.po
  ui/i18n/lv_LV.po
  ui/i18n/nl_NL.po
  ui/i18n/pl_PL.po
  ui/i18n/pt_BR.po
  ui/i18n/ro_RO.po
  ui/i18n/ru_RU.po
  ui/i18n/sk_SK.po
  ui/i18n/sv_SE.po
  ui/i18n/tr_TR.po
  ui/i18n/zh_CN.po
  ui/i18n/zh_TW.po
Due: build ui, build update-themes, test ui

Fix unpackaged files error on RHEL7
  open-xchange-appsuite-manifest/open-xchange-appsuite-manifest.spec
Due: build ui, build update-themes

Fix: Bypassing anti-tracking through external images in plain text mails
  ui/apps/io.ox/mail/detail/content.js
  ui/apps/io.ox/mail/sanitizer.js
Due: build ui, build update-themes, test ui

Fix: Bypassing anti-tracking through external images in plain text mails
  ui/apps/io.ox/mail/sanitizer.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2718: XSS using arbitrary relative path to UI module
  ui/apps/io.ox/core/desktop.js
  ui/apps/io.ox/core/main.js
  ui/apps/io.ox/core/main/registry.js
  ui/grunt/tasks/concat.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2718: XSS using arbitrary relative path to UI module
  ui/apps/io.ox/core/desktop.js
  ui/apps/io.ox/core/main.js
Due: build ui, build update-themes, test ui

Build for patch 2024-05-14 (6279)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help-drive/debian/changelog
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Fix: Plain text mail with inline image contains broken link in mail content
  ui/apps/io.ox/mail/detail/content.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2713: Appointment details stay open after selecting other calendar week
  ui/apps/io.ox/core/tk/dialogs.js
Due: build ui, build update-themes, test ui

Defect: Resolving type error on quota check when quickly adding mail attachments
  ui/apps/io.ox/mail/actions/attachmentQuota.js
  ui/e2e/tests/mail/compose/drivemail_test.js
Due: build ui, build update-themes, test ui

Fix: QR code not generated when using "connecting your device"
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Switch to renovate
  .gitlab/dependabot.yml
  renovate.json
Due: none

Remove usage of jquery-ui and add content of `scroll-parent.js` to `boot.js`/`boot-stripped.js`
  ui/apps/io.ox/calendar/edit/main.js
  ui/apps/io.ox/core/tk/tokenfield.js
  ui/apps/io.ox/mail/compose/extensions.js
  ui/apps/io.ox/mail/compose/sharing.js
  ui/apps/io.ox/mail/mailfilter/settings/filter.js
  ui/apps/io.ox/participants/add.js
  ui/apps/io.ox/portal/settings/pane.js
  ui/apps/io.ox/settings/security/certificates/settings/pane.js
  ui/grunt/tasks/concat.js
  ui/grunt/tasks/thirdparty.js
  ui/lib/jquery-ui-scrollparent.js
Due: build ui, build update-themes, test ui

Revert "Update dependency qrcode to v1.5.3"
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Adding scripts for convinience
  ui/package.json
Due: build ui, build update-themes, test ui

Chore: Adding `packageManager` for corepack
  ui/package.json
Due: build ui, build update-themes, test ui

Fix: Missing radio to enable default signature on iOS 17. device
  ui/apps/io.ox/mail/settings/signatures/style.less
Due: build ui, build update-themes, test ui
