Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

build ui:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    KUBERNETES_MEMORY_REQUEST: 2.2G
    PROJECT_PATH: ui
  ...

build update-themes:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    KUBERNETES_MEMORY_REQUEST: 1G
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  script:
  ...

test ui:
  image: registry.gitlab.open-xchange.com/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
  - cd ui
  - yarn test
  stage: test
  dependencies:
  - build ui
  needs:
  - build ui
  tags:
  - kubernetes
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml

build help:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    KUBERNETES_MEMORY_REQUEST: 1G
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  script:
  ...

build guidedtours:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    KUBERNETES_MEMORY_REQUEST: 1G
    PROJECT_PATH: guidedtours
    PACKAGE_NAME: open-xchange-guidedtours
  script:
  ...

build spamexperts:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    KUBERNETES_MEMORY_REQUEST: 1G
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  script:
  - cd ${PROJECT_PATH}
  ...

build dynamic-theme:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    KUBERNETES_MEMORY_REQUEST: 1G
    PROJECT_PATH: open-xchange-dynamic-theme
  script:
  - cd ${PROJECT_PATH}
  ...

OXUIB-1065: Different order for displayed contact field than in edit mode
  ui/apps/io.ox/contacts/view-detail.js
Due: build ui, build update-themes, test ui

Fixed: OXUIB-1065 - Different order for displayed contact field than in edit mode
  ui/apps/io.ox/contacts/view-detail.js
Due: build ui, build update-themes, test ui

[ci] configure memory resources for upload job
  gitlab-ci/packaging.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

pipeline: generate e2e reports for hotfix branches also
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Fixed OXUIB-1609 Drive Mail: -using password- can be choosen and mail can be sent even without giving a password at all
  ui/apps/io.ox/mail/compose/sharing.js
Due: build ui, build update-themes, test ui

Fixed OXUIB-1383 Compose a text-only email: row is moving immediately after typing
  ui/apps/io.ox/core/tk/text-editor.js
Due: build ui, build update-themes, test ui

e2e: fix testmail path of OXUIB-1355
  ui/e2e/tests/mail/bad_mails/image_replacement_test.js
Due: build ui, build update-themes, test ui

[ci] fix memory limit for pipeline jobs
  .gitlab-ci.yml
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

package.json: set version to 7.10.x to avoid confusion
  ui/package.json
Due: build ui, build update-themes, test ui

Additional commit for OXUIB-1379: Forwarding an email drops the timezone information in "Date" identifier
  ui/apps/io.ox/mail/compose/model.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-1379 Forwarding an email drops the timezone notification in "Date" identifier
  ui/apps/io.ox/mail/compose/model.js
Due: build ui, build update-themes, test ui

Fixed OXUIB-1654 Bypass for E-Mail "deep links"
  ui/apps/io.ox/core/desktop.js
  ui/apps/io.ox/core/links.js
  ui/e2e/media/mails/OXUIB-1654.eml
  ui/e2e/tests/general/code_loading_test.js
  ui/spec/io.ox/core/apps_spec.js
Due: build ui, build update-themes, test ui

DOCS-4377: guest users should have Drive settings2
  ui/apps/io.ox/core/main/apps.js
Due: build ui, build update-themes, test ui

RM-988: add Debian Bullseye
  build.gradle.kts
  gitlab-ci/packaging.yml
  gradle.properties
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Fixed: OXUIB-1659 no avatar pictures in distribution lists displayed after editing
  ui/apps/io.ox/contacts/main.js
Due: build ui, build update-themes, test ui

Fixed: OXUIB-1678 XSS sanitization bypass for HTML snippets
  ui/apps/io.ox/core/api/snippets.js
Due: build ui, build update-themes, test ui

Additional commit for OXUIB-1678
  ui/apps/io.ox/core/api/snippets.js
Due: build ui, build update-themes, test ui

Coverity: 18310 - Remove logically dead code
  ui/apps/io.ox/core/http.js
Due: build ui, build update-themes, test ui

Fixed OXUIB-1089: drivemail: missing autoswitch when coming from drive -send by email-
  ui/apps/io.ox/files/actions.js
  ui/apps/io.ox/mail/actions/mailQuota.js
  ui/apps/io.ox/mail/compose/extensions.js
  ui/apps/io.ox/mail/compose/model.js
Due: build ui, build update-themes, test ui

FIxed: OXUIB-1667 Other Address missing when printing a contact with print layout [Details]
  ui/apps/io.ox/contacts/print-details.js
  ui/html/print.html
Due: build ui, build update-themes, test ui

Fixed: Reopen of OXUIB-1384 Drive Mail: Download Button flashing up while browsing through the folder tree
  ui/apps/io.ox/files/actions.js
Due: build ui, build update-themes, test ui

Fixed OXUIB-1290 Getting started tour does not show the focus red dot
  guidedtours/apps/io.ox/tours/intro.js
Due: build guidedtours

Fixed: OXUIB-1642 Edit calendar folders not working on mobiles
  ui/apps/io.ox/core/folder/view.js
Due: build ui, build update-themes, test ui

Coverity: 21321 - Remove logically dead code
  ui/apps/io.ox/core/sub/sharedFolders.js
Due: build ui, build update-themes, test ui

Fix license headers for guided tours
  guidedtours/apps/io.ox/tours/calendar.js
  guidedtours/apps/io.ox/tours/contacts.js
  guidedtours/apps/io.ox/tours/files.js
  guidedtours/apps/io.ox/tours/intro.js
  guidedtours/apps/io.ox/tours/mail.js
  guidedtours/apps/io.ox/tours/main.js
  guidedtours/apps/io.ox/tours/multifactor.js
  guidedtours/apps/io.ox/tours/portal.js
  guidedtours/apps/io.ox/tours/settings.js
  guidedtours/apps/io.ox/tours/settings/defaults.js
  guidedtours/apps/io.ox/tours/tasks.js
  guidedtours/apps/io.ox/tours/utils.js
  guidedtours/grunt/tasks/install.js
Due: build guidedtours

Coverity 18315: Bad use of null-like value
  ui/apps/io.ox/mail/compose/view.js
Due: build ui, build update-themes, test ui

Coverity 19367: DOM-based cross-site scripting
  ui/apps/plugins/portal/files/register.js
Due: build ui, build update-themes, test ui

Coverity 18294: Logically dead code
  ui/apps/io.ox/calendar/listview.js
Due: build ui, build update-themes, test ui

Coverity 20712: Expression with no effect
  ui/e2e/tests/mail/compose/hyperlinks_test.js
Due: build ui, build update-themes, test ui

Coverity 18298: Logically dead code
  ui/apps/io.ox/files/common-extensions.js
Due: build ui, build update-themes, test ui

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml
