Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml

don't use deprecated method
  ui/e2e/tests/settings/mail/default_sender_address_test.js
Due: build ui, build update-themes, test ui

[documentation] make location for favicons crystal clear
  documentation/theming.md
Due: none

oxui-1164: Bring back preview apps
  .gitlab-ci.yml
  .gitlab/autodeploy/kubernetes-resources.yaml
  .gitlab/autodeploy/values.yaml
  gitlab-ci/e2e.yml
  helm/frontend-core/.helmignore
  helm/frontend-core/Chart.yaml
  helm/frontend-core/templates/NOTES.txt
  helm/frontend-core/templates/_helpers.tpl
  helm/frontend-core/templates/deployment.yaml
  helm/frontend-core/templates/hpa.yaml
  helm/frontend-core/templates/service.yaml
  helm/frontend-core/templates/serviceaccount.yaml
  helm/frontend-core/templates/tests/test-connection.yaml
  helm/frontend-core/values.yaml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Clean up changes for account updates
  ui/apps/io.ox/mail/accounts/model.js
  ui/apps/io.ox/mail/accounts/view-form.js
Due: build ui, build update-themes, test ui

Additional commit for OXUIB-2130 - Remote resources are loaded in print view
  ui/apps/io.ox/core/print.js
  ui/apps/io.ox/mail/print.js
Due: build ui, build update-themes, test ui

Build for patch 2023-02-23 (6217)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help-drive/debian/changelog
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

variable for single e2e test job
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

[CI] some adjustments
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

ci: replace detectFrontendChanges job
  Jenkinsfile
Due: none

Fix: OXUIB-1525: Dav sync button clickable for subscribed shared task folder
  ui/apps/io.ox/core/sub/sharedFolders.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2233: Remote resources are loaded in print view on multi selection
  ui/apps/io.ox/core/print.js
  ui/apps/io.ox/mail/print.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2176: Mobile. Changing app from Mail to Drive breaks toolbar in Drive
  ui/apps/io.ox/mail/style.less
Due: build ui, build update-themes, test ui

Fix: OXUIB-2157: Email body not fully shown sometimes
  ui/apps/io.ox/mail/detail/view.js
Due: build ui, build update-themes, test ui

Revert "Fix: OXUIB-2126: Sorting by folder name in Drive not working in public files"
  ui/apps/io.ox/files/api.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2166: Calendar event becomes grey after it is edited by someone else
  ui/apps/io.ox/calendar/edit/extensions.js
  ui/e2e/tests/calendar/calendar_color_test.js
Due: build ui, build update-themes, test ui

OXUIB-2241: Subscription toggle button active for items in section "hidden"
  ui/apps/io.ox/core/sub/sharedFolders.js
Due: build ui, build update-themes, test ui

added smoketest
  ui/e2e/tests/calendar/create_test.js
Due: build ui, build update-themes, test ui

manually configure remove allure report job
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

set TAG_NAME correctly for preview deployments
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

add ttl of 7d to preview app deployment
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

deploy job: only wait for docker image to run
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Fix: OXUIB-2181: Moving files or folders for guests users not possible
  ui/apps/io.ox/files/actions.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2287: XSS using malicious Count service resource
  ui/apps/io.ox/core/count/api.js
Due: build ui, build update-themes, test ui

Fixed: OXUIB-1943: Chrome treats App Suite as insecure when displaying external images in mails loaded via http
  ui/apps/io.ox/mail/common-extensions.js
  ui/apps/io.ox/mail/sanitizer.js
Due: build ui, build update-themes, test ui

Fix: OXUIB 2290: Remove OX Mail App entry from Connect your device wizard
  ui/apps/io.ox/onboarding/main.js
  ui/apps/io.ox/onboarding/util.js
  ui/e2e/tests/general/connect_device_wizard_test.js
Due: build ui, build update-themes, test ui

build: disable build for SLE 12
  frontend-packages/buildservice.properties
Due: none

Fixed: OXUIB-2065: runtime error if vacationDomains configured in vacation rule
  ui/apps/io.ox/mail/mailfilter/vacationnotice/model.js
  ui/e2e/tests/mail/mailfilter/vacation_notice_test.js
Due: build ui, build update-themes, test ui

[CI] Fix blocked state of pipelines
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Security: OXUIB-2283: XSS using app passwords lastDevice property
  ui/apps/io.ox/settings/security/appPasswords/settings/views.js
Due: build ui, build update-themes, test ui

third additional commit for OXUIB-2228
  ui/apps/themes/components/dialog.less
Due: build ui, build update-themes, test ui

additional commit for OXUIB-2228
  ui/apps/themes/components/dialog.less
Due: build ui, build update-themes, test ui
