Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

build ui:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    PROJECT_PATH: ui
    PACKAGE_NAME: open-xchange-appsuite-manifest
  ...

build update-themes:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  script:
  - cd ${PROJECT_PATH}
  ...

test ui:
  image: registry.gitlab.open-xchange.com/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
  - cd ui
  - yarn test
  stage: test
  dependencies:
  - build ui
  needs:
  - build ui
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml

build help:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  script:
  - cd ${PROJECT_PATH}
  ...

build guidedtours:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: guidedtours
    PACKAGE_NAME: open-xchange-guidedtours
  script:
  - cd ${PROJECT_PATH}
  ...

build spamexperts:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  script:
  - cd ${PROJECT_PATH}
  ...

build dynamic-theme:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-dynamic-theme
  script:
  - cd ${PROJECT_PATH}
  ...

Update dependency backbone from v.1.4.0 to v1.5.0
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency clipboard from v2.0.8 to v2.0.11
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency dotenv-defaults from v3.0.0 to v3.0.2
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Debug broken gitlab build
  gitlab-ci/packaging.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

CI: Tag jobs with openstack
  .gitlab-ci.yml
  gitlab-ci/docker.yml
  gitlab-ci/documentation.yml
  gitlab-ci/e2e.yml
  gitlab-ci/packaging.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

CI: Tag jobs with openstack
  gitlab-ci/docker.yml
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Remove debug infos
  gitlab-ci/packaging.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

CI: Fix e2e server urls
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Provide a label to autodeploy namespace to use dedicated resources
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

provide resource definitions for preview deployments
  .gitlab/autodeploy/values.yaml
Due: none

Pin dependency @open-xchange/codecept-horizontal-scaler to v0.1.4
  ui/e2e/package.json
Due: build ui, build update-themes, test ui

Update dependency less to v1.7.5
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
Due: build dynamic-theme

Switch to renovate
  .gitlab/dependabot.yml
  renovate.json
Due: none

Update dependency jquery to v3.7.1
  help/package.json
  help/yarn.lock
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui, build help

Update dependency moment to v2.30.1
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency qrcode to v1.5.3
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency underscore to v1.13.6
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours

Update dependency grunt-contrib-clean to v2.0.1
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency clipboard to v2.0.11
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency eslint-plugin-license-header to ^0.6.0
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency chart.js to v3.9.1
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency sinon to v17
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update and pin dependency lint-staged to ~v12.0
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency grunt to v1.5.3
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-eslint to v24
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-contrib-concat from v1.0.1 to v2.1.0
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-compile-handlebars to v2.0.3
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
Due: build dynamic-theme

Fix: OXUIB-2713: Appointment details stay open after selecting other calendar week
  ui/apps/io.ox/core/tk/dialogs.js
Due: build ui, build update-themes, test ui

Fix: Plain text mail with inline image contains broken link in mail content
  ui/apps/io.ox/mail/detail/content.js
Due: build ui, build update-themes, test ui

Update dependency pdfjs-dist to v2.10.377
  ui/grunt/tasks/thirdparty.js
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Fix: OXUIB-2756: Wrong calendar week when scheduling an appointment (U.S. language setting)
  ui/apps/io.ox/calendar/freetime/timeView.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2718: XSS using arbitrary relative path to UI module
  ui/apps/io.ox/core/desktop.js
  ui/apps/io.ox/core/main/registry.js
Due: build ui, build update-themes, test ui

Remove usage of jquery-ui and add content of `scroll-parent.js` to `boot.js`/`boot-stripped.js`
  ui/apps/io.ox/calendar/edit/main.js
  ui/apps/io.ox/core/tk/tokenfield.js
  ui/apps/io.ox/mail/compose/extensions.js
  ui/apps/io.ox/mail/compose/sharing.js
  ui/apps/io.ox/mail/mailfilter/settings/filter.js
  ui/apps/io.ox/participants/add.js
  ui/apps/io.ox/portal/settings/pane.js
  ui/apps/io.ox/settings/security/certificates/settings/pane.js
  ui/grunt/tasks/concat.js
  ui/grunt/tasks/thirdparty.js
  ui/lib/jquery-ui-scrollparent.js
Due: build ui, build update-themes, test ui

Update dependency grunt-contrib-uglify to v5
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency custom jquery-ui to v1.13.2
  ui/lib/jquery-ui.min.js
Due: build ui, build update-themes, test ui

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml
