Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

build ui:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    PROJECT_PATH: ui
    PACKAGE_NAME: open-xchange-appsuite-manifest
  ...

build update-themes:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  script:
  - cd ${PROJECT_PATH}
  ...

test ui:
  image: registry.gitlab.open-xchange.com/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
  - cd ui
  - yarn test
  stage: test
  dependencies:
  - build ui
  needs:
  - build ui
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml

build help:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  script:
  - cd ${PROJECT_PATH}
  ...

build guidedtours:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: guidedtours
    PACKAGE_NAME: open-xchange-guidedtours
  script:
  - cd ${PROJECT_PATH}
  ...

build spamexperts:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  script:
  - cd ${PROJECT_PATH}
  ...

build dynamic-theme:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-dynamic-theme
  script:
  - cd ${PROJECT_PATH}
  ...

Chore: Remove dependabot.yml
  .gitlab/dependabot.yml
Due: none

Renovate: Update config
  renovate.json
Due: none

Renovate: Specify nodejs range
  renovate.json
Due: none

Update dependency sinon to v17
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency chart.js to v3.9.1
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Revert "Renovate: Specify nodejs range"
  renovate.json
Due: none

Update dependency eslint to v8
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency eslint-plugin-license-header to ^0.6.0
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency cldr-dates-modern to v44
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Fix: OXUIB-2720: Sometimes images split to multiple pages when printing
  ui/apps/themes/login/print.css
Due: build ui, build update-themes, test ui

Security: #87: XSS - Filter data attributes when sanitizing
  ui/apps/io.ox/contacts/view-detail.js
  ui/apps/io.ox/core/tk/contenteditable-editor.js
  ui/apps/io.ox/mail/settings/signatures/settings/pane.js
  ui/apps/io.ox/multifactor/api.js
  ui/apps/io.ox/settings/security/appPasswords/settings/views.js
Due: build ui, build update-themes, test ui

Update dependency less to v1.7.5
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
Due: build dynamic-theme

Update dependency jquery to v3.7.1
  help/yarn.lock
Due: build help

Fix: OXUIB-2615: Invalid dates allowed for search
  ui/apps/io.ox/find/date/patterns.js
Due: build ui, build update-themes, test ui

Update dependency moment to v2.30.1
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency qrcode to v1.5.3
  ui/yarn.lock
Due: build ui, build update-themes, test ui

adjust e2e
  ui/e2e/tests/a11y/contacts_test.js
  ui/e2e/tests/drive/misc_test.js
  ui/e2e/tests/general/code_loading_test.js
  ui/e2e/tests/login/login_i18n_test.js
  ui/e2e/tests/sharing/calendar_test.js
  ui/e2e/tests/sharing/contacts_test.js
  ui/e2e/tests/sharing/general_test.js
  ui/e2e/tests/sharing/tasks_test.js
Due: build ui, build update-themes, test ui

adjust config
  renovate.json
Due: none

Bump dompurify to latest version compatible with IE (2.4.3)
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency underscore to v1.13.6
  guidedtours/yarn.lock
  help/yarn.lock
  ui/yarn.lock
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours

Update dependency backbone to v1.5.0
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency jquery to v3.7.1
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Add renovate.json
  renovate.json
Due: none

Update dependency chai to v4.4.1
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Add `--overwrite` when deploying janitor
  gitlab-ci/e2e.yml
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Pin dependency @open-xchange/codecept-horizontal-scaler to v0.1.4
  ui/e2e/package.json
Due: build ui, build update-themes, test ui

Update dependency dotenv-defaults to v3.0.2
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Renovate: Disable update for pinned versions
  renovate.json
Due: none

Pin dependency lint-staged to v13.2
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Chore: Update dependencies and sync versions of package.json and yarn.lock
  ui/e2e/package.json
  ui/e2e/yarn.lock
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Pin dependency lint-staged to v13.3
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency lint-staged to v10.5.4
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency clipboard to v2.0.11
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency grunt-contrib-clean to v2.0.1
  guidedtours/yarn.lock
  help/yarn.lock
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/yarn.lock
Due: build help, build guidedtours, build spamexperts, build dynamic-theme

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml
