Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

build ui:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    PROJECT_PATH: ui
    PACKAGE_NAME: open-xchange-appsuite-manifest
  ...

build update-themes:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  script:
  - cd ${PROJECT_PATH}
  ...

test ui:
  image: registry.gitlab.open-xchange.com/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
  - cd ui
  - yarn test
  stage: test
  dependencies:
  - build ui
  needs:
  - build ui
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml

build help:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  script:
  - cd ${PROJECT_PATH}
  ...

build guidedtours:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: guidedtours
    PACKAGE_NAME: open-xchange-guidedtours
  script:
  - cd ${PROJECT_PATH}
  ...

build spamexperts:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  script:
  - cd ${PROJECT_PATH}
  ...

build dynamic-theme:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-dynamic-theme
  script:
  - cd ${PROJECT_PATH}
  ...

Chore: Add release workflow documentation
  RELEASING.md
Due: none

Documentation: Add how to build packages via ci pipeline
  CONTRIBUTING.md
Due: none

Change: Use semantic value (AppSuite major version) for `io.ox/tours//user/alreadySeenVersion` instead of 1 (support#995)
  guidedtours/apps/io.ox/tours/main.js
Due: build guidedtours

Switch to renovate
  .gitlab/dependabot.yml
  renovate.json
Due: none

Add: Allow custom SMS-like multifactor providers (support-1114)
  ui/apps/io.ox/multifactor/deviceAuthenticator.js
  ui/apps/io.ox/multifactor/settings/views/addDevice.js
Due: build ui, build update-themes, test ui

Chore: Use right server in e2e `.env.defaults
  ui/e2e/.env.defaults
Due: build ui, build update-themes, test ui

Fix: OXUIB-2014: Last row in calendar month view halfway missing
  ui/apps/io.ox/calendar/month/view.js
Due: build ui, build update-themes, test ui

Fix: support-1021: SpamExperts Spam Panel - Safari
  open-xchange-appsuite-spamexperts/apps/com.spamexperts/settings/register.js
  open-xchange-appsuite-spamexperts/i18n/de_DE.po
  open-xchange-appsuite-spamexperts/i18n/en_GB.po
  open-xchange-appsuite-spamexperts/i18n/en_US.po
Due: build spamexperts

Fix: Image is not displayed in mail (support#1022)
  ui/apps/io.ox/mail/detail/content.less
  ui/apps/io.ox/mail/detail/style.less
  ui/apps/io.ox/mail/detail/view.js
  ui/apps/io.ox/mail/style.less
Due: build ui, build update-themes, test ui

Fixed: Bug support/1115 - Multifactor authentication is incompatible with dynamic themes
  open-xchange-dynamic-theme/apps/io.ox/dynamic-theme/register.js
  ui/apps/io.ox/core/boot/load.js
Due: build ui, build update-themes, test ui, build dynamic-theme

support/1115: Wait for dynamic theme before continuing
  open-xchange-dynamic-theme/apps/io.ox/dynamic-theme/register.js
  ui/apps/io.ox/core/boot/load.js
Due: build ui, build update-themes, test ui, build dynamic-theme

change branch for backend back to master
  build.gradle.kts
Due: none

Fix: Initials are not displayed in contact-picture if names are set in non US-ASCII (support#1198)
  ui/apps/io.ox/contacts/util.js
  ui/spec/io.ox/contacts/util_spec.js
Due: build ui, build update-themes, test ui

Fix: "Select 2-Step Verification Method" dialog is not scrollable (support#1200)
  ui/apps/io.ox/multifactor/style.less
Due: build ui, build update-themes, test ui

Fix: Mail with images is truncated (support#1245)
  ui/apps/io.ox/mail/detail/content.less
  ui/apps/io.ox/mail/detail/style.less
Due: build ui, build update-themes, test ui

Fix: Refresh on page Settings > Security > 2-Step Verification causes hunderts of errors in log and breaks UI (support#1203)
  ui/apps/io.ox/core/http.js
  ui/apps/io.ox/multifactor/api.js
  ui/apps/io.ox/multifactor/auth.js
  ui/apps/io.ox/multifactor/login/error_handler.js
  ui/apps/io.ox/multifactor/settings/views/addDevice.js
Due: build ui, build update-themes, test ui

Fix: Compose window not focused when clicking inside editor iframe (support#1238)
  ui/apps/io.ox/backbone/views/window.js
  ui/apps/io.ox/core/tk/contenteditable-editor.js
Due: build ui, build update-themes, test ui

Fix: Refresh on page Settings > Security > 2-Step Verification causes hunderts of errors in log and breaks UI (support#1203)
  ui/apps/io.ox/core/http.js
  ui/apps/io.ox/multifactor/api.js
Due: build ui, build update-themes, test ui

Fix: Refresh on page Settings > Security > 2-Step Verification causes hunderts...
  ui/apps/io.ox/core/http.js
  ui/apps/io.ox/multifactor/api.js
  ui/apps/io.ox/multifactor/auth.js
  ui/apps/io.ox/multifactor/login/error_handler.js
  ui/apps/io.ox/multifactor/settings/views/addDevice.js
Due: build ui, build update-themes, test ui

Fix: Refresh on page Settings > Security > 2-Step Verification causes hunderts... (support#1203)
  ui/apps/io.ox/core/http.js
  ui/apps/io.ox/multifactor/api.js
  ui/apps/io.ox/multifactor/auth.js
  ui/apps/io.ox/multifactor/login/error_handler.js
  ui/apps/io.ox/multifactor/settings/views/addDevice.js
Due: build ui, build update-themes, test ui

Fixed: Bug support/1202 - AutoLogout doesn't work as expected with 2-step authentication feature
  ui/apps/io.ox/core/main/logout.js
Due: build ui, build update-themes, test ui

Fix: AutoLogout doesn't work as expected with 2-step authentication feature (support#1202)
  ui/apps/io.ox/core/main/logout.js
Due: build ui, build update-themes, test ui

Use upper-case "L" instead of lower-case "l" as localized date format consistently
  ui/apps/io.ox/backbone/mini-views/common.js
  ui/apps/io.ox/backbone/mini-views/datepicker.js
  ui/apps/io.ox/backbone/views/datepicker.js
  ui/apps/io.ox/calendar/list/listview.js
  ui/apps/io.ox/calendar/util.js
  ui/apps/io.ox/calendar/week/view.js
  ui/apps/io.ox/contacts/util.js
  ui/apps/io.ox/mail/util.js
  ui/apps/plugins/portal/mail/register.js
  ui/apps/plugins/portal/rss/register.js
Due: build ui, build update-themes, test ui

Security - Bootstrap and Dompurify update
  ui/grunt/tasks/tasks.js
  ui/grunt/tasks/thirdparty.js
  ui/patches/bootstrap+3.4.1.patch
  ui/patches/dompurify+2.5.8.patch
Due: build ui, build update-themes, test ui

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml
