Repository open-xchange/appsuite-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

build ui:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: eval "grunt \$${build_tasks_$$CI_NODE_INDEX}"
    PROJECT_PATH: ui
    PACKAGE_NAME: open-xchange-appsuite-manifest
  ...

build update-themes:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: update-themes
    PACKAGE_NAME: open-xchange-appsuite-manifest
  script:
  - cd ${PROJECT_PATH}
  ...

test ui:
  image: registry.gitlab.open-xchange.com/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
  - cd ui
  - yarn test
  stage: test
  dependencies:
  - build ui
  needs:
  - build ui
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml

build help:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: help
    PACKAGE_NAME: open-xchange-appsuite-help
  script:
  - cd ${PROJECT_PATH}
  ...

build guidedtours:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: guidedtours
    PACKAGE_NAME: open-xchange-guidedtours
  script:
  - cd ${PROJECT_PATH}
  ...

build spamexperts:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  script:
  - cd ${PROJECT_PATH}
  ...

build dynamic-theme:
  cache:
    key: yarn
    paths:
    - .yarn-cache
  image: registry.gitlab.open-xchange.com/frontend/dev_env:latest
  variables:
    build_tasks: dist:build
    build_script: grunt ${build_tasks}
    PROJECT_PATH: open-xchange-dynamic-theme
  script:
  - cd ${PROJECT_PATH}
  ...

Renovate: Specify nodejs range
  renovate.json
Due: none

Update dependency eslint-plugin-license-header to ^0.6.0
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-contrib-clean to v2.0.1
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui

Update dependency sinon to v17
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Renovate: Disable for `devDependencies` for now
  renovate.json
Due: none

Backport of folder `ui/e2e`
  ui/e2e/tests/a11y/contacts_test.js
  ui/e2e/tests/drive/misc_test.js
  ui/e2e/tests/general/code_loading_test.js
  ui/e2e/tests/login/login_i18n_test.js
  ui/e2e/tests/sharing/calendar_test.js
  ui/e2e/tests/sharing/contacts_test.js
  ui/e2e/tests/sharing/general_test.js
  ui/e2e/tests/sharing/tasks_test.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2703: Flag-based sorting is broken due to outdated cached collection
  ui/apps/io.ox/mail/api.js
  ui/e2e/tests/mail/flag_test.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2720: Sometimes images split to multiple pages when printing
  ui/apps/themes/login/print.css
Due: build ui, build update-themes, test ui

Update dependency grunt-compile-handlebars to v2.0.3
  open-xchange-dynamic-theme/yarn.lock
Due: build dynamic-theme

Update dependency grunt to v1.6.1
  guidedtours/yarn.lock
  help/yarn.lock
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/yarn.lock
  update-themes/yarn.lock
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-contrib-concat to v2
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-contrib-uglify to v5
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Update dependency grunt-eslint to v24
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, build help, build guidedtours, build spamexperts, build dynamic-theme

Fix: OXUIB-2726: Checkquota not counting attachments in progress
  ui/apps/io.ox/mail/actions/attachmentQuota.js
Due: build ui, build update-themes, test ui

Update dependency grunt-contrib-concat from v1.0.1 to v2.1.0
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build spamexperts, build dynamic-theme

Update dependency grunt to v1.5.3
  guidedtours/package.json
  guidedtours/yarn.lock
  help/package.json
  help/yarn.lock
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite-spamexperts/yarn.lock
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
  ui/package.json
  ui/yarn.lock
  update-themes/package.json
  update-themes/yarn.lock
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Renovate: Disable for `optionalDependencies`
  renovate.json
Due: none

Update dependency grunt-compile-handlebars to v2.0.3
  open-xchange-dynamic-theme/package.json
  open-xchange-dynamic-theme/yarn.lock
Due: build dynamic-theme

Security: OXUIB-2688: XSS using "data" attributes at upsell shop
  ui/apps/io.ox/wizards/upsell.js
Due: build ui, build update-themes, test ui

Security: OXUIB-2660: XSS for RSS content using `data` attributes
  ui/apps/plugins/portal/rss/register.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2663: XSS using data- attributes at upsell ads
  ui/apps/plugins/portal/upsellads/register.js
Due: build ui, build update-themes, test ui

Chore: Fix e2e `Checks when adding/removing attachments`
  ui/e2e/tests/mail/compose/drivemail_test.js
Due: build ui, build update-themes, test ui

Chore: Skip e2e `Checks when adding/removing attachments`
  ui/e2e/tests/mail/compose/drivemail_test.js
Due: build ui, build update-themes, test ui

Fix: Plain text mail with inline image contains broken link in mail content
  ui/apps/io.ox/mail/detail/content.js
Due: build ui, build update-themes, test ui

Bump custom `jquery-ui` from `v1.12.1` to `v1.13.2`
  ui/lib/jquery-ui.min.js
Due: build ui, build update-themes, test ui

Remove usage of jquery-ui and add content of `scroll-parent.js` to `boot.js`/`boot-stripped.js`
  ui/apps/io.ox/calendar/edit/main.js
  ui/apps/io.ox/core/tk/tokenfield.js
  ui/apps/io.ox/mail/compose/extensions.js
  ui/apps/io.ox/mail/compose/sharing.js
  ui/apps/io.ox/mail/mailfilter/settings/filter.js
  ui/apps/io.ox/participants/add.js
  ui/apps/io.ox/portal/settings/pane.js
  ui/apps/io.ox/settings/security/certificates/settings/pane.js
  ui/grunt/tasks/concat.js
  ui/grunt/tasks/thirdparty.js
  ui/lib/jquery-ui-scrollparent.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2688: fixed typo
  ui/apps/io.ox/wizards/upsell.js
Due: build ui, build update-themes, test ui

Build for patch 2024-03-06 (6273)
  guidedtours/package.json
  help/package.json
  open-xchange-appsuite-help-drive/debian/changelog
  open-xchange-appsuite-help/debian/changelog
  open-xchange-appsuite-help/open-xchange-appsuite-help.spec
  open-xchange-appsuite-saml/debian/changelog
  open-xchange-appsuite-saml/open-xchange-appsuite-saml.spec
  open-xchange-appsuite-saml/package.json
  open-xchange-appsuite-spamexperts/debian/changelog
  open-xchange-appsuite-spamexperts/open-xchange-appsuite-spamexperts.spec
  open-xchange-appsuite-spamexperts/package.json
  open-xchange-appsuite/debian/changelog
  open-xchange-appsuite/open-xchange-appsuite.spec
  open-xchange-dynamic-theme/debian/changelog
  open-xchange-dynamic-theme/open-xchange-dynamic-theme.spec
  open-xchange-dynamic-theme/package.json
  open-xchange-guidedtours/debian/changelog
  open-xchange-guidedtours/open-xchange-guidedtours.spec
  ui/package.json
  update-themes/package.json
Due: build ui, build update-themes, test ui, build help, build guidedtours, build spamexperts, build dynamic-theme

Fix: OXUIB-2558: Selected folder label stays truncated after folder pane enlarged
  ui/apps/io.ox/calendar/style.less
  ui/apps/io.ox/core/folder/extensions.js
  ui/apps/io.ox/core/folder/node.js
  ui/apps/io.ox/core/folder/selection.js
  ui/apps/themes/components/core.less
  ui/apps/themes/components/folder.less
  ui/e2e/tests/drive/general_test.js
Due: build ui, build update-themes, test ui

Fix: OXUIB-2615: Invalid dates allowed for search
  ui/apps/io.ox/find/date/patterns.js
Due: build ui, build update-themes, test ui

Chore: Skip shaky e2e test `Checks when adding/removing attachments`
  ui/e2e/tests/mail/compose/drivemail_test.js
Due: build ui, build update-themes, test ui

Bump dompurify to latest version compatible with IE (2.4.3)
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Security: #87: XSS - Filter data attributes when sanitizing
  ui/apps/io.ox/contacts/view-detail.js
  ui/apps/io.ox/core/tk/contenteditable-editor.js
  ui/apps/io.ox/mail/settings/signatures/settings/pane.js
  ui/apps/io.ox/multifactor/api.js
  ui/apps/io.ox/settings/security/appPasswords/settings/views.js
Due: build ui, build update-themes, test ui

Update dependency chai from 4.3.4 to v4.4.1
  ui/package.json
  ui/yarn.lock
Due: build ui, build update-themes, test ui

Path conditions:
  build ui: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  build update-themes: any of: ui/**/*, update-themes/**/*, open-xchange-appsuite/**/*, open-xchange-appsuite-l10n/**/*, open-xchange-appsuite-manifest/**/*, gitlab-ci/*, .gitlab-ci.yml
  test ui: any of: ui/**/*
  build help: any of: help/**/*, open-xchange-appsuite-help/**/*, gitlab-ci/*, .gitlab-ci.yml
  build guidedtours: any of: guidedtours/**/*, open-xchange-guidedtours/**/*, gitlab-ci/*, .gitlab-ci.yml
  build spamexperts: any of: open-xchange-appsuite-spamexperts/**/*, gitlab-ci/*, .gitlab-ci.yml
  build dynamic-theme: any of: open-xchange-dynamic-theme/**/*, gitlab-ci/*, .gitlab-ci.yml
